<div id="<%= dom_id customer %>">
  <p>
    <strong>Customer name:</strong>
    <%= customer.customer_name %>
  </p>

  <p>
    <strong>Customer phone:</strong>
    <%= customer.customer_phone %>
  </p>

  <p>
    <strong>Customer points:</strong>
    <%= customer.customer_points %>
  </p>

</div>
