<div class="max-w-3xl mx-auto px-4">
  <div class="flex items-center justify-between mb-6 flex-wrap">
    <h1 class="font-bold text-3xl mb-6">Edit transaction_report</h1>
    <% if @transaction_report.persisted? %>
    <%= button_to 'Destroy', @transaction_report, method: :delete, class: "text-red-700 underline", data: { turbo_confirm: 'Are you sure?' } %>
    <% end %>
  </div>

  <%= render 'form', transaction_report: @transaction_report %>
</div>
